@{
    ViewData["Title"] = "Search";
    <link rel="stylesheet" href="~/css/table.scss" />
    <link rel="stylesheet" href="https://unpkg.com/vanilla-datatables@latest/dist/vanilla-dataTables.min.css" />
}

<div class="container mt-20">
    <h1>Search</h1>
    <table id="example" class="table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Topic</th>
                <th>Degree</th>
                <th>Description</th>
                <th>Email</th>
                <th>Website</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.CompanyName</td>
                            <td>@Data.Topic</td>
                            <td>@Data.Degree</td>
                            <td>@Data.Description</td>
                            <td>@Data.Email</td>
                            <td><a href="http://@Data.Web" target="_blank">@Data.Web</a></td>
                            <td>@Data.Date</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>


@section scripts {
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/moment.js"></script>
    <script src="https://unpkg.com/vanilla-datatables@latest/dist/vanilla-dataTables.min.js"></script>
    <script id="INLINE_PEN_JS_ID">
        var table = new DataTable("table");
    </script>
}